@media (max-width: 480px) {
                  /* BURGER START */
    .menu-burger {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        /* top: 0; */
    }
    
    .burger {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        
        overflow: hidden;
        cursor: pointer;
    }  
    
    .burger span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #684a4a;
        transition: all 0.5s;
    }
    
    .burger span:nth-of-type(2) {
        top: calc(50% - 5px);
    }
    
    .burger span:nth-of-type(3) {
        top: calc(50% + 5px);
    }
    
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 63vh;
        height: 83vh;
        padding: 30px;
        background-color: #d4d4d4;;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out ;
    }
    
    .burger.active span:first-of-type {
        transform: translateX(100%);
    }
    
    .burger.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg) ;
    }
    
    .burger.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg) ;
    }
    
    .menu.active {
        transform: translateX(0);
    }
    
    .header-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:#333333;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
    
    .nav {
        padding-top: 60px;
    }
    
    .header-list:not(:last-child) {
        margin-bottom: 16px;
    }
    
    .header-item {
        margin: 0;
    }
    
    .header__link {
        font-size: 18px;
        line-height: 42px;
    }

    .container {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .header__container {
        padding-top: 300px;
        padding-bottom: 5px;
    }
    
    .header__logo {
        width: 110px;
        height: 36px;
        margin-right:8px;
        position: absolute;
        top: 10px;
        margin: 35px;
        margin-left: 150px;
    }

    .nav {
        display: block;
    }
    
    
    .header-list {
        flex-direction: column;
        
        font-size: 2rem;
    }
    
    .header-item{
       margin: 0;
    }
                      /* BURGER END */


                                /* about */

    .about {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .about-title {
        margin-bottom: 20px;
        text-align: center;
    }
    
    .aboout-item__img {
        display: flex;
        margin-bottom: 20px;
    }
    
    .about__qualities {
        margin-bottom: 20px;
        row-gap: 10px;
    }
    
    
    
    .about__subtitle {
        text-align: center;
    }
    
    .about__descr {
        text-align: center;
    }

}


@media (max-width:500px) {
                 /* BURGER START */
    .menu-burger {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        /* top: 0; */
    }
    
    .burger {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        
        overflow: hidden;
        cursor: pointer;
    }  
    
    .burger span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #684a4a;
        transition: all 0.5s;
    }
    
    .burger span:nth-of-type(2) {
        top: calc(50% - 5px);
    }
    
    .burger span:nth-of-type(3) {
        top: calc(50% + 5px);
    }
    
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 63vh;
        height: 77vh;
        padding: 30px;
        background-color: #d4d4d4;;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out ;
    }
    
    .burger.active span:first-of-type {
        transform: translateX(100%);
    }
    
    .burger.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg) ;
    }
    
    .burger.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg) ;
    }
    
    .menu.active {
        transform: translateX(0);
    }
    
    .header-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:#333333;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
    
    .nav {
        padding-top: 60px;
    }
    
    .header-list:not(:last-child) {
        margin-bottom: 16px;
    }
    
    .header-item {
        margin: 0;
    }
    
    .header__link {
        font-size: 18px;
        line-height: 42px;
    }

    .container {
        padding-left: 8px;
        padding-right: 8px;
    }
    .header__container {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .logo {
        position: static;
    }
    
    .header__logo {
        width: 110px;
        height: 36px;
        margin-right:8px;
        position: absolute;
        top: 10px;
        margin: 35px;
        margin-left: 150px;
    }

    .nav {
        display: block;
    }
    
    
    .header-list {
        flex-direction: column;
        
        font-size: 2rem;
    }
    
    .header-item{
       margin: 0;
    }
                  /* BURGER END */




    html {
        font-size: 1rem;
    }

    .container {
        padding-left: 8px;
        padding-right: 8px;
    }
    .header__container {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .logo {
        position: static;
    }
    
    .header__logo {
        width: 110px;
        height: 36px;
        margin-right:8px;
        position: absolute;
        top: 10px;
        margin: 35px;
        margin-left: 150px;
    }

    .nav {
        display: block;
    }
    
    
    .header-list {
        flex-direction: column;
        
        font-size: 2rem;
    }
    
    .header-item{
       margin: 0;
    }

    /* .shopping-cart-wrapper {
        flex-grow: 0;
        
    } */
    
    .shopping-cart {
        padding: 3px 12px 3px 4px;
        
    }
    
    .shopping-cart__icon {
        margin-right: 4px;
        height: 36px;
        width: 36px;
    }

    .shopping-cart__icon>img {
        width: 16px;
    } 
    
    .shopping-cart__info {
        font-size: 1rem;
    }

    /* hero */

.hero {
    padding-top: 30px;
    padding-bottom: 30px;

}

/* .primary-title {
    margin-bottom: 14px;
} */

.hero-title {
    margin-bottom: 30px;


    font-weight: 700;
    font-size: 2.8rem;
    line-height: 40px;
}

.primary__btn {
    padding: 10px 10px 10px 16px;

    font-size: 1.2rem; 
}

.primary-btn__text {
    margin-right:14px ;
}

.primary-btn__icon {
    width: 28px;
    height: 28px;
}

/* hero END */

/* discounts */

.discounts {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom:30px ;
    gap: 20px;
    
}

.discount-item {
    padding-top: 85px;
    padding-bottom: 85px;
}

/* about */

.about {
    padding-top: 30px;
    padding-bottom: 30px;
}


.about__img {
    display: none;
}

.about-title {
    text-align: center;
}

.aboout-item__img {
    display: flex;
    margin-bottom: 20px;
}

.about__qualities {
    margin-bottom: 20px;
    row-gap: 10px;
}



.about__subtitle {
    text-align: center;
    font-size: 2.5rem;
    line-height: 38px;
    letter-spacing: 0.26px;


}

.about__descr {
    margin-bottom:30px ;
    text-align: center;


    font-size: 1.4rem;
    line-height: 30px;
}

.aboout-item__img-icon {
    padding: 10px;
    margin-right: 10px;
    height: auto;

}

.about-item__subtitle {
    margin: 0;
    margin-bottom: 10px;


    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color:#274C5B ;
}

.about-item__descr {
    margin: 0;

    
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color:#525C60 ;

}


/* products */


.products {
    padding-top: 30px;
    padding-bottom: 30px;
}

.product__img {
    display: flex;
    justify-content: center;
}

.product__img>img {
    width: 70%;
}


/* review */

.review {
    padding-top: 30px;
    padding-bottom: 30px;
}

.review-title {
    margin-bottom: 20px;
}

.review__subtitle {
    text-align: center;

    letter-spacing: 0.26px;
    font-size: 1.5rem;
    line-height: 38px;
}

.user-review {
    width: 95%;
    margin-bottom: 20px;  
}

.user-review__stars {
    margin-bottom: 20px ;
}


.user-review__comment {
    margin-bottom: 13px ;

    font-size: 1.2rem;
    color:#525C60 ;
    

}

.user-review__name {
    margin-bottom: 4px;

    font-size: 1.5rem;
}

.user-review__par {
    font-size: 1rem;
}

.user-review::after {
    top: 102%;
}

.user__wrapper {
    flex-flow: row wrap;
    justify-content: center;
}

.stats {
    width: 200px;
    height: 200px;
}

                   /* review END */


/* all-priducts */

.all-priducts {
   padding-top: 30px;
   padding-bottom: 30px;
}

.all-priducts__title-wrapper {
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.products__subtitle {
    letter-spacing: 0.26px;
    font-size: 1.5rem;
    line-height: 38px;
}

.all-products__title {
    margin-bottom: 20px;
}

.all-products__wrapper {
    flex-wrap: wrap;
}

                    /* all-priducts END */

                    /* delivery START */

.delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 10px;


  background-image: none;

}

.delivery__info {
    width: 100%;
    padding: 0;
}


.delivery-step {
    margin-bottom: 12px;
}

.delivery__subtitle {
    letter-spacing: 0.26px;
    font-size: 2rem;
    line-height: 38px;
}

.delivery-step__title {
    margin-bottom: 16px;
}

.delivery-step__descr {
    line-height: 16px;
}

                        /* delivery END */


                        /* library START */
.library { 
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.library-item {
    width: 100%;
    height: 380px;
}

.library-item__info {
    padding: 10px 30px;


    background:  var(--background-color);
    border-radius: 20px;
    color: #274C5B;
    font-weight: 700;
    font-size: 1.5rem;
}

                         /* subscribe START */

.subscribe {
    padding-top: 30px;
    padding-bottom: 50px;
}

.subscrible__wrapper {
    flex-direction: column;
    padding: 20px 20px;
    gap: 10px;
    text-align: center;
}

.subscrible-form {
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
}

.subscrible-form__input {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 17px;
}


                            /* subscribe END */
                            /* FOOTER START */

.footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
}

.contacts {
    width: 100%;
    text-align: center;  
    padding-bottom: 15px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contacts__item {
    margin-bottom: 12px;
}

.contacts__title {
    margin-bottom: 16px;
}

.footer-info {
   margin-bottom: 30px;
}

.footer-info__logo {
    margin-bottom: 10px;
}

.footer-info__text {
    width: 95%;
    margin-bottom: 22px;
}

.social__icon {
    width: 50px;
    height: 50px;
}

.utility-pages {
    width: 95%;
}

.contacts__title {
    margin-bottom: 12px;
    line-height: 22px;
}

.utility-item {
    margin-bottom: 8px;


    color:#525C60 ;
}
}